.liveodds-box {
  position: absolute;
  right: 20px;
  top: 20%;
  width: 240px;
  height: 300px;
  background: rgba(0, 20, 30, 0.5);
  border: 1px solid #0dd4ff;
  box-shadow: 0 0 15px #00c4dd inset;
  backdrop-filter: blur(6px);
  padding: 15px;
  color: #11cfff;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 10px #00c4dd;
  z-index: 30;
}

.liveodds-list {
  margin-top: 10px;
  height: 240px;
  overflow-y: auto;
  color: #c7f6ff;
}
