.tipselector-wrapper {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 25px;
  z-index: 30;
}

.tip-btn {
  padding: 12px 28px;
  border: 1px solid #11cfff;
  color: #11cfff;
  background: rgba(0, 30, 40, 0.35);
  text-shadow: 0 0 8px #00d8ff;
  box-shadow: 0 0 12px #00c4dd inset;
  backdrop-filter: blur(4px);
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  transition: 0.18s;
}

.tip-btn:hover {
  background: rgba(0, 50, 70, 0.65);
  box-shadow: 0 0 18px #00c4dd;
}
