.bottom-tabs {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background: rgba(0,0,0,0.2);
    padding: 8px 0;
    border-radius: 20px;
    backdrop-filter: blur(8px);
}

.tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
}
